{% extends "base.html" %}
{% block title %}
    Student Attendance
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'jquery-3.6.1.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% for student in classes.student.all %}
                $("#btnSendEmail_" + {{ student.user.id }}).click(function () {
                    $.ajaxSetup({
                        headers: {"X-CSRFToken": '{{csrf_token}}'}
                    });
                    $.ajax({
                        url: "/send_email",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "user": {{ student.user.id }},
                            "subject": "Poor Attendance Warning",
                            "body": "Hi {{ student.user.first_name }}, \n This is a email to inform you that your attendance of {{ classes.course.name }} is too low.\nBest Regards,\nAdmin",
                            "class_id": {{ classes.id }}
                        },
                        success: function (resp) {
                            console.log(resp);
                        },
                        error: function () {
                            console.log("something went wrong");
                        },
                    });
                });
            {% endfor %}
        });
    </script>
{% endblock %}
{% block content %}
    <h1>ClassName: {{ classes.course.name }}</h1>
    <h1>Date: {{ Date|date:"M d, Y" }}</h1>
    <form action="{% url 'save-attendance' %}" method="post">
        {% csrf_token %}
        <table style="border: solid" rules="all">
            <tr>
                <td>Student Name</td>
                {% if not user.is_superuser %}
                    <td>Check if Absent</td>
                {% endif %}
                <td>Attendance</td>
                <td></td>
            </tr>
            <input type="hidden" name="class_id" value={{ classes.id }}>
            {% for attendance in attendance_all %}
                {% if attendance.classes.course == classes.course %}
                    <tr>
                    <td>{{ attendance.student.user.first_name }} {{ attendance.student.user.last_name }}</td>
                    {% if not user.is_superuser %}
                        <td>
                            <input type="checkbox" name="absent_student_ids" value={{ attendance.student.student_id }}>
                        </td>
                    {% endif %}
                    <td>
                        {% widthratio attendance.attendance_rate 1 100 %} %
                    </td>
                    <td>
                        {% csrf_token %}
                        <button
                                id="btnSendEmail_{{ attendance.student.user.id }}"
                                type="button"
                                name="user" value={{ attendance.student.user.id }}>
                            Send Email
                        </button>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
        {% if not user.is_superuser %}
            <button type="submit">Save</button>
        {% endif %}
    </form>
    <div>
        <form method="get" action="{% url "index" %}" enctype="multipart/form-data">
            <button>Back To Home</button>
        </form>
    </div>
{% endblock %}