{% extends "base.html" %}
{% block title %}
{{ semester.id }}
{% endblock %}

{% block content %}
{{ semester.id }}
    <form action="{% url 'update-semester' %}" method="post">
    {% csrf_token %}
        <input type="hidden" name="semester_id" value="{{ semester.id }}">
        <input type="number" name="semester_year" value="{{ semester.year }}">
        <input type="text" name="semester_semester" value="{{ semester.semester }}">
        <button>Change</button>
    </form>
        <div>
        <form method="get" action="{% url "get-semester" %}" enctype="multipart/form-data">
            <button>Back</button>
        </form>
    </div>
{% endblock %}