{% extends "base.html" %}
{% block title %}
    Students
{% endblock %}

{% block content %}
    {{ content }}
    <h1>Student</h1>
    {% for student in student_all %}
            <div>
                <a href="{% url 'student-detail' student_id=student.student_id %}">{{ student.user.first_name }} {{ student.user.last_name }}</a>
                <a href="{% url 'delete-student' student_id=student.student_id  %}">Delete</a>
            </div>
    {% endfor %}

    <form action="{% url 'create-student' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="student fname" name="student_fname">
        <input type="text" placeholder="student lname" name="student_lname">
        <input type="date" placeholder="student DOB" name="student_DOB">
        <input type="email" placeholder="student email" name="student_email">
        <button>Add</button>
    </form>
    <form method="post" action="{% url "file-upload" %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button>Upload</button>
    </form>
    {% if upload_file_url %}
        {{ upload_file_url }}
    {% endif %}
    <div>
        <form method="get" action="{% url "index" %}" enctype="multipart/form-data">
            <button>Back To Home</button>
        </form>
    </div>
{% endblock %}